* {
    flex-wrap: wrap;
}

#history {
    display: flex;
    flex-wrap: wrap;
}

#history p {
    background-color: #b9c6ae;
    margin: 20px;
    padding: 7px 14px;
}

#title {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 20px;
  }

#container-one {
    background-color: #b9c6ae;
    border: solid;
    margin: auto;
    margin-top: 20px;
    text-indent: 20px;
}

.future {
    background-color: #b9c6ae;
    border: solid;
    margin: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid;
    padding: 30px;
    display: inline-block;
    text-align: left;
}


  

